.navigation-menu {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation-menu li {
  margin: 0 15px;
}
.navigation-menu li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 20px;
}
.navigation-menu li a:hover {
  color: black;
}

.active {
  color: goldenrod !important;
}

.mobile-navigation {
  list-style: none;
}

.mobile-navigation li {
  margin-top: 20px;
}
.mobile-navigation li a {
  text-decoration: none;
  font-size: 1.4rem;
  color: black;
}

.mobile-navigation li a:hover {
  color: rgb(96, 0, 21);
}
