.home {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.homeContainer {
  width: auto;
  margin-left: 30px;
}
.homeContainer h1 {
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 70px;
  font-family: "Gill Sans", "Gill sans MT";
  color: black;
}
.homeContainer p {
  margin-top: 15px;
  padding: 0;
  font-size: 40px;
  font-weight: lighter;
  color: black;
}

.homeContainer button {
  background-color: #334651;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 20px;
  height: 50px;
  width: 170px;
}

.homeContainer button:hover {
  background-color: #07090a;
  cursor: pointer;
  transition: 0.3s ease-in;
}
@media screen and (max-width: 600px) {
  .home {
    justify-content: center;
    align-items: center;
  }
  .homeContainer {
    margin-left: 0;
    border-radius: 10px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background-color: #121619;
  }
  .homeContainer h1 {
    font-size: 40px;

    height: 30px;
    margin: 30px 0px;
    color: white;
  }
  .homeContainer p {
    font-size: 20px;
    color: white;
  }
  .homeContainer button {
    background-color: rgb(243, 236, 236);
    color: #121619;
    margin-bottom: 30px;
  }
  .homeContainer button:hover {
    background-color: rgb(255, 255, 255);
    transition: 0.3s ease-in;
  }
}
